// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3, p {
  font-family: 'Poppins', sans-serif;
}
.bigfont{
  font-size: 3em;
  font-weight: bold;

}
.maincolor{
  color:orange;
}
.container {
  text-align: center;
}
